<mat-card class="prenotazione-list-card">
  <div class="top-bar">
    <h1 class="page-title">Prenotazioni</h1>
    <button mat-raised-button color="primary" class="modern-button" routerLink="/clienti">
      Clienti
    </button>
  </div>

  <mat-card-content>
    <div class="button-container">
      <button mat-raised-button color="primary" class="modern-button" routerLink="/nuova-prenotazione">
        <mat-icon>add</mat-icon>
        Nuova prenotazione
      </button>
    </div>

    <div class="grid-container" *ngIf="prenotazioni.length > 0">
      <mat-card class="prenotazione-card" *ngFor="let p of prenotazioni" (click)="editPrenotazione(p)"
        style="cursor: pointer;">
        <mat-card-header>
          <mat-card-title>{{ p.giorno | date : "dd/MM/yyyy" }}</mat-card-title>
          <mat-card-subtitle>{{ p.ora }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Nome:</strong> {{ p.cliente.nome }} {{ p.cliente.cognome }}</p>
          <p><strong>Telefono:</strong> {{ p.cliente.telefono }}</p>
          <p><strong>Email:</strong> {{ p.cliente.email }}</p>
          <p><strong>Note:</strong> {{ p.note }}</p>
        </mat-card-content>
      </mat-card>
    </div>

    <p *ngIf="prenotazioni.length === 0">Nessuna prenotazione trovata.</p>
  </mat-card-content>
</mat-card>